.page {
    display: none;
}
#page_buttons {
    display: flex;
    align-content: center;
    justify-content: center;
    position: absolute;
    bottom: 50;
    text-align: center;
    width: 100vw;
    left: 0;
}
#question_progress {
    align-content: center;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20;
    text-align: center;
    width: 100vw;
    left: 0;
    color: rgba(0,0,0,0.5);
    font-weight: 300;
}
#page_buttons button {
    min-width: 10vw;
}
#submit_button {
    display: none;
}
.question {
    margin-bottom: 4%;
}
.answer {
    margin-top: 4%;
}
.tide {
    height: 8%;
}